body  {
    
    
}

header {
    background-color: rgb(247, 74, 74);
    height: auto;
    width: 1789px;
    display: inline-block;
   
}

li {
    list-style-type: none;
    display: inline;
    color: yellow;
    padding-right: 20px;
}

ul {
    color: yellow;
    position: relative;
    right: -16in;
}

.section-1 {
    text-align: center;
    background-color: rgb(35, 119, 247);
}

img {
    background-color: rgb(76, 65, 231);
    padding: 50px;
    margin-top: 10px; 
    border: 5px solid rgb(240, 66, 103); 
}

.section-2 {
    background-color: rgb(233, 64, 79);
    text-align: center;
    }

#list2 {
    text-align: center;

}
.contactmeborder { 
    width: 500px;
    height: 125px;
    border: 10px solid rgb(62, 62, 228);
    position: relative;
    left: 625px;
    border-radius: 40px;
}